{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeleton Project</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    
    <script src="https://unpkg.com/franken-ui@1.0.0/dist/js/core.iife.js" type="module"></script>
    <script src="https://unpkg.com/franken-ui@1.0.0/dist/js/icon.iife.js" type="module"></script>

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
